.faculty-schedule-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.faculty-schedule-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 145, 6) ;
    margin:20px
}
.faculty-schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faculty-schedule2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 145, 6);
}
.faculty-schedule-class>h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5px;
}